[Unit]
Description=MENYALA BOT
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/maksimovapi/menyala-bot/menyala_bot/venv
ExecStart=/home/maksimovapi/menyala-bot/menyala_bot/venv/bin/python3 /home/maksimovapi/menyala-bot/menyala_bot/bot.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target